.p1 {
    border-style: dotted;
}

.p2 {
    border-style: dashed;
}

.p3 {
    border-style: solid; /*Mais usada*/
}

.p4 {
    border-style: double;
}

.p5 {
    border-style: groove;
}

.p6 {
    border-style: ridge;
}

.p7 {
    border-style: inset;
}

.p8 {
    border-style: outset;
}

.p9 {
    border-style: none; /*Não aparece a borda -> a borda não existe*/
}

.p10 {
    border-style: hidden;/*Não aparece a borda -> a borda existe mas está oculta*/
}

.p11 {
    border-style: dotted dashed solid double;
}

.p12 {
    border-style: solid;
    border-width: 5px;
}

.p13 {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
}

.p14 {
    border-style: solid;
    border-color: mediumvioletred;
}

.p15 {
    border: 2px solid red;
}