.p1 {
    background-color: tomato;
}

.p2 {
    background-color: orange;
}

.p3 {
    background-color: dodgerblue;
}

.p4 {
    background-color: mediumseagreen;
}
.p5 {
    background-color: pink;
}

.p6 {
    background-color: red;
}

.p7 {
    background-color: violet;
}

.p8 {
    background-color: lightblue;
}

.t1 {
    color: royalblue;
}

.pr1 {
    color: greenyellow;
}

.pr2 {
    color: hotpink;
}

.t2 {
    background-color: rgb(255, 99, 71);
}

.t3 {
    background-color: #ff6347;
}

.t4 {
    background-color: hsl(9, 100%, 64%);
}

.t5 {
    background-color: rgba(255, 99, 71, 0.5);
}

.t6 {
    background-color: hsla(9, 100%, 64%, 0.2);
}